<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">HOME</a>
        <% if (user) {%>
        <a href="/posts"> POSTS</a>
        <a href="posts/new">CREATE POST</a>
        <a href="/users/<%=user._id %>">PROFILE</a>
        <a href="/logout"> LOGOUT</a>
        <% console.log(user) %>
        <% }else{ %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
    </nav>
    <h2>MONARCHS</h2>
    
