body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.size {
  height: 100px;
  width: 300px;
  overflow: hidden;
}

.size img {
 height: auto;
 width: 300px;
}