body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: black;
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-size:110%;
}

a {
  color: rgba(196, 75, 45, 1)
}

nav {
  text-align:center;
  display:flexbox;
  justify-content:space-evenly;

}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}



.crop{ 
  height: 200px;
  width: 300px;
  overflow: hidden;
  border-radius: 15px 50px;
  border: 2px solid white;
}

.crop img {
  width: 100%;
  height: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: translateY(-50%); /* IE 9 */
  transform: translateY(-50%); /* IE 10, Fx 16+, Op 12.1+ */
}