<%- include('../partials/header') %>
<form id="trades" action="/users/<%=user._id%>?_method=PUT" method="POST">

      <label>Things I Have to Trade:</label>
      <input type="checkbox" class="haves" name="Eggs">Eggs</input>
      <input type="checkbox" class="haves" name="Caterpillars">Caterpillars</input>
      <input type="checkbox" class="haves" name="Milkweed">Milkweed</input>
      <input type="checkbox" class="haves" name="Milkweed Seeds">Milkweed Seeds</input>
      <input type="checkbox" class="haves" name="Enclosure">Enclosure</input>
      <input type="checkbox" class="haves" name="Pollinators">Pollinators</input>
      <br>
      <label>Things I Need:</label>
      <input type="checkbox" class="needs" name="Eggs">Eggs</input>
      <input type="checkbox" class="needs" name="Caterpillars">Caterpillars</input>
      <input type="checkbox" class="needs" name="Milkweed">Milkweed</input>
      <input type="checkbox" class="needs" name="Milkweed Seeds">Milkweed Seeds</input>
      <input type="checkbox" class="needs" name="Enclosure">Enclosure</input>
      <input type="checkbox" class="needs" name="Pollinators">Pollinators</input>
      <br>
      <input type="submit" value="Update">
  </form>

  <%- include('../partials/footer') %>