<%- include('../partials/header') %>
<form id="trades" action="/users/<%=user._id%>?_method=PUT" method="POST">

      <label>Things I Have to Trade:</label>

      <select name="haves" multiple>
          <option value="Eggs">Eggs</option>
          <option value="Caterpillars">Caterpillars</option>
          <option value="Milkweed">Milkweed</option>
          <option value="Milkweed Seeds">Milkseeds</option>
          <option value="Enclosure">Enclosure</option>
          </select>
          
    <label>Things I Need to Trade:</label>
        <select name="needs" multiple>
        <option value="Eggs">Eggs</option>
        <option value="Caterpillars">Caterpillars</option>
        <option value="Milkweed">Milkweed</option>
        <option value="Milkweed Seeds">Milkseeds</option>
        <option value="Enclosure">Enclosure</option>
        </select>
      
   
      <input type="submit" value="Update">
  </form>

  <%- include('../partials/footer') %>