<%- include('../partials/header'); %>

<form id="user-profile" action="/users" method="POST">
    
    <label>Name:</label>

    <label>Things I Have to Trade:</label>
    <label>Things I Need</label>
</form>


<%- include('../partials/footer');  %>