<%- include('../partials/header') %>

<div id="posts">
    <h2 id="title"></h2>
    <h4 id="topic"></h4>
    <img scr id="default">
    <textarea name="content"></textarea>
</div>


<%- include('../partials/footer') %>