<%- include('../partials/header') %>

    <form id="new-post" action="/posts" method="POST">
        <div id="create">
            <label>Title:</label>
            <input type="text" name="title">
            <br>
            <label>Topic:</label>
            <select name="topic">
                <option value="Butterfly">Butterfly</option>
                <option value="Caterpillar">Caterpillar</option>
                <option value="Plants">Plants</option>
                <option value="Pests">Pests</option>
                <option value="Other">Other</option>
            </select>
            <br>
            <label>Content:</label>
            <textarea name="content"></textarea>
            <br>
            <br>
            <label>Image:</label>
            <label>Paste Imgur link in the text box</label>
            <input type="text" name="image"></input>
            <br>
            <button type="submit">POST</button>
        </div>


    </form>


    <%- include('../partials/footer') %>